body{
      
	font-family: 'Montserrat', sans-serif;    
    z-index: -1;
  
    }

table{
 	
 	table-layout: fixed;
 	color: white;
 	border-radius: 10px;

 }
 h3{
 	font-size: 1.4rem;
 	margin-top: 5%;
 }
 h4{
 	font-size: 1.3rem;
 	margin-top: 5%;
 }


 .background{
 
 	background: linear-gradient(217deg,  rgba(255,255,255,0.9), rgba(255,255,255,.3)70.71%),
            	linear-gradient(127deg,  rgba(255,255,255,0.9), rgba(0,0,100,.2)70.71%),
            	linear-gradient(336deg,  rgba(255,255,255,0.9), rgba(0,0,100,.2)70.71%),
            	url('../IMG/3.png');
 	background-repeat: no-repeat;
 	background-size: auto;
 	background-attachment: fixed;
    background-position: center;
 }

/**********************************************************************/
/**************************  MINI LOGO  *******************************/
/**********************************************************************/

#wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -4
}


#logo{
	margin-left: 90%;
	margin-top: 43.5%;
	opacity: 0.5;
	
	overflow: hidden;
	position: absolute;
	z-index: -3;
}

/**********************************************************************/
/**************************  LINEAS  **********************************/
/**********************************************************************/

.line-reveal {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  opacity: 0.7;
}

.line-reveal .overlay {
  background:  #caa228;
  height: 2.5%;
  position: absolute;
  top: -5px;
  width: 100%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#line-a {
  left: 0;
  top: 80%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}
#line-b {
  left: 0;
  top: 85%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

/**********************************************************************/
/**************************  NAVBAR MENU  *****************************/
/**********************************************************************/

#cssmenu {
  background: transparent;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: black;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}


@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}


/**********************************************************************/
/**************************  COMPETICIONES  ***************************/
/**********************************************************************/

#competencias
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	padding: 4px;		
	position: absolute;
	top: 42%;
	left: 20%;
	transform: translateX(20%) translateY(-20%) ;
	cursor: pointer;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);
	color: white;
	 -webkit-transition: width 1s; 
	 -webkit-transition: opacity 0.5s ease-in-out;
    transition: width 1s;
    animation-timing-function: ease-out;
    animation-name: competicion;/* The element to apply the animation to */
    animation-duration: 1s;
    z-index: 3;
}



@keyframes competicion {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}


#inputCompetencias {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla-competencias{
	display: none;
	margin: 0px auto;
	margin-top: 1%;
}

#tablaCompetencias {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaCompetencias th, #tablaCompetencias td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaCompetencias tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaCompetencias tr.header, #tablaCompetencias tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-competencias{
	display: none;
	cursor: pointer;
}

.close-competencias{
	margin-right: 21%;
	margin-top: 17%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-competencias {
  margin-top: 5%;
  margin-left: 19%;
}

/****************************************************************/
/**************************  EQUIPOS  ***************************/
/****************************************************************/

#equipos
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	padding: 4px;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translateX(-50%) translateY(-20%);
	cursor: pointer;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);	
	color: white;
	 -webkit-transition: width 1s; 
    transition: width 1s;
    animation-name: equipos;/* The element to apply the animation to */
    animation-duration: 1s; 
    z-index: 2; 
}


@keyframes equipos {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

#inputEquipos {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla-equipos{
	display: none;
	
	margin: 0px auto;
	margin-top: 1%;
}

#tablaEquipos {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaEquipos th, #tablaEquipos  td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaEquipos tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaEquipos  tr.header, #tablaEquipos tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-equipos{
	display: none;
	cursor: pointer;
}

.close-equipos{
	margin-right: 23%;
	margin-top: 17%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-equipos {
  margin-top: 5%;
  margin-left: 18%;
}

/******************************************************************/
/**************************  JUGADORES  ***************************/
/******************************************************************/

#jugadores 
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);
	padding: 4px;
	position: absolute;
	top: 42%;
	left: 76%;
	transform: translateX(-94%) translateY(-20%);
	cursor: pointer;	
	color: white;
	 -webkit-transition: width 1s; 
    transition: width 1s;
    animation-name: jugadores;/* The element to apply the animation to */
    animation-duration: 1s; 
    z-index: 1; 
}

@keyframes jugadores {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

#inputJugadores{
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 61%; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla-jugadores{
	display: none;
	margin: 0px auto;
	margin-top: 5px;
}

#tablaJugadores {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    height: auto;
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaJugadores th, #tablaJugadores td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaJugadores tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaJugadores tr.header, #tablaJugadores tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-jugadores{
	display: none;
	cursor: pointer;
}

.close-jugadores{
	margin-right: 18%;
	margin-top: 15.7%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-jugadores {
  margin-top: 5%;
  margin-left: 3%;
}

/******************************************************************/
/*************************** TEMPORADA ****************************/
/******************************************************************/

#temporada
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	padding: 4px;		
	position: absolute;
	top: 25%;
	left: 22%;
	transform: translateX(24%) translateY(-10%) ;
	cursor: pointer;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);
	color: white;
	 -webkit-transition: width 1s; 
	 -webkit-transition: opacity 0.5s ease-in-out;
    transition: width 1s;
    animation-timing-function: ease-out;
    animation-name: temporada;/* The element to apply the animation to */
    animation-duration: 1s;
    z-index: 3;
}



@keyframes temporada {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}


#inputTemporada {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla-temporada{
	display: none;
	margin: 0px auto;
	margin-top: 3.5%;
}

#tablaTemporada {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaTemporada th, #tablaTemporada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaTemporada tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaTemporada tr.header, #tablaTemporada tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-temporada{
	display: none;
	cursor: pointer;
}

.close-temporada{
	margin-right: 24%;
	margin-top: 10%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-temporada {
  margin-top: 5%;
  margin-left: 20%;
}

/******************************************************************/
/*************************** SPLIT ********************************/
/******************************************************************/

#split
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	padding: 4px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%) translateY(-10%);
	cursor: pointer;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);	
	color: white;
	 -webkit-transition: width 1s; 
    transition: width 1s;
    animation-name: equipos;/* The element to apply the animation to */
    animation-duration: 1s; 
    z-index: 2; 
}



@keyframes split {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}


#inputSplit {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla-split{
	display: none;
	margin: 0px auto;
	margin-top: 3.5%;
}

#tablaSplit {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaSplit th, #tablaSplit td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaSplit tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaSplit tr.header, #tablaSplit tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-split{
	display: none;
	cursor: pointer;
}

.close-split{
	margin-right: 33%;
	margin-top: 10%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-split {
  margin-top: 5%;
  margin-left: 20%;
}

/*******************************************************************/
/*************************** EVENTOS *******************************/
/*******************************************************************/

#evento 
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);
	padding: 4px;
	position: absolute;
	top: 24%;
	left: 77.5%;
	transform: translateX(-125%) translateY(5%);
	cursor: pointer;	
	color: white;
	 -webkit-transition: width 1s; 
    transition: width 1s;
    animation-name: evento;/* The element to apply the animation to */
    animation-duration: 1s; 
    z-index: 1; 
}

@keyframes evento {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

#inputEvento{
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 30%;
}

#tabla-evento{
	display: none;
	margin: 0px auto;
	margin-top: 3px;
}

#tablaEvento {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    height: auto;
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaEvento th, #tablaEvento td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaEvento tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaEvento tr.header, #tablaEvento tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-evento{
	display: none;
	cursor: pointer;
}

.close-evento{
	margin-right: 28%;
	margin-top: 12%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-evento {
  margin-top: 5%;
  margin-left: 20%;
}


/*******************************************************************/
/*************************** SERIE *********************************/
/*******************************************************************/

#serie 
{
	width: 205px;
	height: 65px;
	margin: 0 auto;
	background: rgb(255,0,0);
	background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
	border-radius: 5px;
	border:0px solid rgb(170,0,0);
	padding: 4px;
	position: absolute;
	top: 45%;
	left: 34%;
	transform: translateX(5%) translateY(-25%);
	cursor: pointer;	
	color: white;
	 -webkit-transition: width 1s; 
    transition: width 1s;
    animation-name: serie;/* The element to apply the animation to */
    animation-duration: 1s; 
    z-index: 1; 
}

@keyframes serie {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

#inputSerie{
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: auto; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 30%;
}

#tabla-serie{
	display: none;
	margin: 0px auto;
	margin-top: 3px;
}

#tablaSerie {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    height: auto;
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaSerie th, #tablaSerie td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaSerie tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaSerie tr.header, #tablaSerie tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-serie{
	display: none;
	cursor: pointer;
}

.close-serie{
	margin-right: 29%;
	margin-top: 16%;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-serie {
  margin-top: 5%;
  margin-left: 20%;
}

/*********************************************************************/
/*************************** PARTIDA *********************************/
/*********************************************************************/
#partida 
{
  width: 205px;
  height: 65px;
  margin: 0 auto;
  background: rgb(255,0,0);
  background: linear-gradient(315deg, rgba(255,7,2,1) 7%, rgba(230,20,8,1) 93%);
  border-radius: 5px;
  border:0px solid rgb(170,0,0);
  padding: 4px;
  position: absolute;
  top: 45%;
  left: 61%;
  transform: translateX(-65%) translateY(-25%);
  cursor: pointer;  
  color: white;
   -webkit-transition: width 1s; 
    transition: width 1s;
    animation-name: partida;/* The element to apply the animation to */
    animation-duration: 1s; 
    z-index: 1; 
}

@keyframes partida {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

#inputPartida{
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 61%; 
    height: 5%;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla-partida{
  display: none;
  margin: 0px auto;
  margin-top: 5px;
}

#tablaPartida {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    height: auto;
    border: 1px solid #ddd; /* Add a grey border */
}

#tablaPartida th, #tablaPartida td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaPartida tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaPartida tr.header, #tablaPartida tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    color: black;
}

#close-partida{
  display: none;
  cursor: pointer;
}

.close-partida{
  margin-right: 11%;
  margin-top: 15.7%;
  float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    z-index: 1;
}

.add-button-partida {
  margin-top: 5%;
  margin-left: 10%;
}
/******************************************************************/
/*************************** TABLAS *******************************/
/******************************************************************/

.title{
	
	margin-bottom: -3%;
	text-align: center;
	
}

.search-padding{
	margin-left: 26%;
	margin-top: 2%;
}
.search-padding-jugadores{
	margin-left: 24%;
	margin-top: 2%;
}

.tbl-header{
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
 }

.tbl-content{
  height:100px;
  overflow-x:scroll;
  margin-top: 1%;
  border: 0px solid rgba(255,255,255,0.1);
  background: transparent;
}

.tables-padding{
	margin-left: -1%;
	
}

.row-padding{
	margin-left: 7%;
	margin-top: 2%;
	height: 60%;
}


.btn-secondary {
  color: #fff;
  background: rgb(57,54,55);
  background: linear-gradient(0deg, rgba(57,54,55,1) 16%, rgba(99,99,102,1) 90%, rgba(119,114,115,1) 100%);
  border-color: transparent;
  border-radius: 5px;
}

.btn-secondary:hover {
  color: #fff;
  background-color:  rgb(57,54,55);
  border-color: #fff;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}


/******************************************************************/
/***********************  MODALS  *********************************/
/******************************************************************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    border-radius: 10px;
	
}

/* Modal Content/Box */
.modal-content {
    background: linear-gradient(315deg, rgba(255,7,2,0.7) 7%, rgba(230,20,8,0.7) 93%);
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border:0px solid rgb(100,0,0) ;
    width: 40%; /* Could be more or less, depending on screen size */
    height: auto;
    color: white;
}

/* The Close Button */
.close-btn-modal {
    color: #aaa;
    float: right;
   	margin-left: 99%;
   	margin-top: -3%;
    font-size: 28px;
    font-weight: bold;
}

.close-btn-modal:hover,
.close-btn-modal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/******************************************************************/
/***********************  SCROLLBAR  ******************************/
/******************************************************************/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

